[package]
name = "staking"
version       = { workspace = true }
rust-version  = { workspace = true }
authors       = { workspace = true }
edition       = { workspace = true }
license       = { workspace = true }
homepage      = { workspace = true }
repository    = { workspace = true }
documentation = { workspace = true }
keywords      = { workspace = true }

[lib]
crate-type = ["cdylib", "rlib"]

[features]
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]
# use library feature to disable all instantiate/execute/query exports
library = []

[dependencies]
cosmwasm-schema = { workspace = true }
cosmwasm-std = {version = "1.4.1", features = ["stargate"]}
cw-storage-plus = "1.1.0"
cw2 = { workspace = true }
cw20 = { workspace = true }
schemars = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
osmosis-std = { workspace = true }
osmo-bindings = "0.6.0"
# osmo-bindings-test = "0.6.0"
cw-controllers = "1.1.1"
cw-utils = { workspace = true }
milky_way = { path = "../../packages/milky_way" }
bech32-no_std = "0.7.3"
sha2 = "0.10.8"

[dev-dependencies]
cw-multi-test = "0.17.0"
